### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea
.idea/*
*.iws
*.iml
*.ipr
__pycache__


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### 临时路径 ###
/temp/

### 缓存路径 ###
/cache/
/records/

### 日志文件 ###
/log/

### 数据库文件 ###
/db/